*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#cursor{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(255, 240, 240);
    position: absolute;
    transition: 0.4s ease;
    mix-blend-mode: difference;
}
#main h1{
    font-size: 15vw;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}